/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 16pt;
  font-weight: bold;
  color: #777777;
  text-align: center;
}

.sendButton {
  display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.dialogVPanel {
  margin: 5px;
  
}

.serverResponseLabelError {

	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
Root {
possition: CENTER;
vertical-align: middle;
text-align: center;
}
popup {
	margin: 1px 1px 5px 5px;
}
.gwt-PopUpTr-new {
background-color: blue !important;

    /* Override glass panel to 10% opacity (= 90% transparency) */
    filter: alpha(opacity = 30) !important; /* IE */
    opacity: 0.3 !important; /* non-IE */
}

.RichTextToolbar {
	background: #E2E2E2;
	padding:5px;
	margin:0px;
	/*border: red 1px solid;*/
}

.RichTextToolbar .gwt-ToggleButton {
	background: #F4F4F4;
	border: 1px outset #ccc;
}

.RichTextToolbar .gwt-PushButton {
	background: #F4F4F4;
	border: 1px outset #ccc;
}

.RichTextToolbar .gwt-ToggleButton-up-hovering {
	background: #F4F4F4;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-up-hovering {
	background: #F4F4F4;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-ToggleButton-down {
	background: #D5D5D5;
	border-color: #777777 #777777 #777777 #777777;
}

.RichTextToolbar .gwt-PushButton-down {
	background: #D5D5D5;
	border-color: #777777 #777777 #777777 #777777;
}

.RichTextToolbar .gwt-ToggleButton-down-hovering {
	background: #D5D5D5;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-down-hovering {
	background: #D5D5D5;
	border-color: #9cf #69e #69e #7af;
}

.RichTextToolbar .gwt-PushButton-up-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-PushButton-down-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-ToggleButton-up-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}

.RichTextToolbar .gwt-ToggleButton-down-disabled {
	background: #717171;
	border-color: #B9968F #B9968F #B9968F #B9968F;
}
.Directores {
font-size: 15pt;
  font-weight: bold;
  color: #777777;
  text-align: center;
}
.TituloWelcome {
font-size: 30pt;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 10px;
  text-align: center;
}
.Desarrolladores {
 font-size: 11pt;
  font-weight: bold;
  color: #777777;
  margin: 0px 0px 0px;
}
.h5 {
	color: Red;
	font-size: 11px;
	text-align: left;
}
.gwt-ButtonControler {
  font-size: 45pt;
  font-weight: bold;
  color: #777777;
  text-align: center;
}
.HelpWelcome {
font-size: 11pt;
  font-weight: bold;
  color: Blue;
  text-align: center;
    margin: 40px 0px 10px;
}
.gwt-SplitLayoutPanelmio {
position: RELATIVE;
}
.gwt-StackPanel {
 	font-size: 10px;
}
.Root2 {
possition: LEFT;
}
.gwt-MenuItemMio {
  color: Red;
}
.image2 {
	
}
.gwt-ButtonRed {
  color: Red;
}
.gwt-ButtonBlack {
  color: Black;
}
.TituloAplicacion {
font-size: 50pt;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 10px;
  text-align: center;
}
.Root3 {
height: 100%;
   vertical-align: middle;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: 0%;
	font-size: 11px;
	font-weight: bolder;
	color: #C00;
	text-align: right;
}

.gwt-ButtonTOP {
 background: transparent url('/BotonesLista/BotonArriba.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
	font-size: 24px;
}
.gwt-ButtonTOPOver {
 background: transparent url('/BotonesLista/BotonArriba.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
}

.gwt-ButtonTOPSelect {
background: transparent url('/BotonesLista/BotonArriba.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}

.gwt-ButtonPush {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	font-size: 24px;
	text-decoration: none;
	background-color: White;
}


.gwt-ButtonBotton  {
 background: transparent url('/BotonesLista/BotonAbajo.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
	font-size: 24px;

}

.gwt-ButtonBottonOver {
background: transparent url('/BotonesLista/BotonAbajo.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}
.gwt-ButtonPushBotton {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: royalblue;
	border: 0px solid;
	font-size: 24px;
	text-decoration: none;
	background-color: White;
	  background-size:  100% 100%;
}


.gwt-ButtonBottonSelect {
background: transparent url('/BotonesLista/BotonAbajo.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}



.gwt-ButtonBottonSave {
 background: transparent url('/BotonesLista/BotonAbajo.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: Red;
	text-decoration: none;
	border: 0px solid;
	font-size: 24px;

}
.gwt-ButtonBottonSaveOver {

	 background: transparent url('/BotonesLista/BotonAbajo.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: Red;
	text-decoration: none;
	border: 0px solid;
		font-size: 24px;
}
.gwt-ButtonBottonSavePush {
display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Red;
	border: 0px solid;
	font-size: 24px;
	text-decoration: none;
	background-color: White;
	  background-size:  100% 100%;
}
.gwt-MenuItemPanel {
font-size: 11px;
}
.gwt-ButtonCenter {
 background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
	font-size: 24px;
}
.gwt-ButtonCenterOver {
 background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
}

.gwt-ButtonCenterSelect {
background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: red;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}

.gwt-ButtonCenterPush {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	font-size: 24px;
	text-decoration: none;
	background-color: White;
}

.gwt-ButtonGris {
 background: transparent url('/BotonesLista/BotonArribaGris.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
	font-size: 24px;
}
.gwt-ButtonGrisOver {
 background: transparent url('/BotonesLista/BotonArribaGris.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
}

.gwt-ButtonGrisSelect {
background: transparent url('/BotonesLista/BotonArribaGris.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}

.gwt-ButtonGrisPush {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	font-size: 35px;
	text-decoration: none;
	background-color: White;
}

.gwt-ButtonGrisDown {
 background: transparent url('/BotonesLista/BotonAbajoGris.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
	font-size: 24px;
}
.gwt-ButtonGrisDownOver {
 background: transparent url('/BotonesLista/BotonAbajoGris.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
}

.gwt-ButtonGrisDownSelect {
background: transparent url('/BotonesLista/BotonAbajoGris.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}

.gwt-ButtonGrisDownPush {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	font-size: 24px;
	text-decoration: none;
	background-color: White;
}

.gwt-ButtonDerecha {
 background: transparent url('/BotonesSueltos/BotonDer.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
	font-size: 24px;
}
.gwt-ButtonDerechaOver {
 background: transparent url('/BotonesSueltos/BotonDer.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
}

.gwt-ButtonDerechaSelect {
background: transparent url('/BotonesSueltos/BotonDer.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}

.gwt-ButtonDerechaPush {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	font-size: 24px;
	text-decoration: none;
	background-color: White;
}

.gwt-ButtonIzquierda {
 background: transparent url('/BotonesSueltos/BotonIzq.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
	font-size: 24px;
}
.gwt-ButtonIzquierdaOver {
 background: transparent url('/BotonesSueltos/BotonIzq.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
}

.gwt-ButtonIzquierdaSelect {
background: transparent url('/BotonesSueltos/BotonIzq.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	font-size: 24px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}

.gwt-ButtonIzquierdaPush {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	font-size: 24px;
	text-decoration: none;
	background-color: White;
}
.Dialog {
max-width:600px;
max-height:400px;
}
.panelSeleccion {

}
.gwt-TextAreaAbout {
	color: #333333;
	font-stretch: normal;
	font-variant: normal;
	font-style: italic;
	font-family: sans-serif;
	font-weight: bold;
}
.gwt-MenuItemFiltering {
	color: crimson;
	font-stretch: normal;
	font-variant: normal;
	font-style: italic;
	font-weight: normal;
}

.gwt-ButtonCenterGraph {
 background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat center center;
 display: block;
    float: left;
     background-size:  100% 100%;
	color: White;
	border: 0px solid;
	font-style: normal;
	font-family: arial, sans-serif;
	text-decoration: none;
}
.gwt-ButtonCenterGraphOver {
 background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat  center center;
 display: block;
    float: left;
		    background-size:  100% 100%;
	color: Scrollbar;
	text-decoration: none;
		border: 0px solid;
	font-style: normal;
	font-family: arial, sans-serif;
	text-decoration: none;
}

.gwt-ButtonCenterGraphSelect {
background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat center center;
 display: block;
    float: left;
	color: Scrollbar;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
	font-style: normal;
	font-family: arial, sans-serif;
	text-decoration: none;
}

.gwt-ButtonCenterGraphPush {
 display: block;
    float: left;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	text-decoration: none;
	background-color: White;
			font-style: normal;
	font-family: arial, sans-serif;
	text-decoration: none;
}

.gwt-ButtonCenterMoreLess {
 background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat center center;
 display: block;
    float: left;
     background-size:  100% 100%;
	color: White;
	border: 0px solid;
	font-style: normal;
	font-family: arial, sans-serif;
	text-decoration: none;
}
.gwt-ButtonCenterMoreLessOver {
 background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat  center center;
 display: block;
    float: left;
		    background-size:  100% 100%;
	color: Scrollbar;
	text-decoration: none;
		border: 0px solid;
	font-style: normal;
	font-family: arial, sans-serif;
	text-decoration: none;
}

.gwt-ButtonCenterMoreLessSelect {
background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat center center;
 display: block;
    float: left;
	color: Scrollbar;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
	font-style: normal;
	font-family: arial, sans-serif;
	text-decoration: none;
}

.gwt-ButtonCenterMoreLessPush {
 display: block;
    float: left;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	text-decoration: none;
	background-color: White;
			font-style: normal;
	font-family: arial, sans-serif;
	text-decoration: none;
}

.gwt-MenuItemPanel {
font-size: 11px;
}

.gwt-ButtonCenterPequ {
 background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
	font-size: 11px;
}
.gwt-ButtonCenterPequOver {
 background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	text-decoration: none;
		border: 0px solid;
		font-size: 11px;
}

.gwt-ButtonCenterPequSelect {
background: transparent url('/BotonesSueltos/Boton.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	font-size: 11px;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}

.gwt-ButtonCenterPequPush {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	font-size: 11px;
	text-decoration: none;
	background-color: White;
}

.gwt-ButtonDerechaMIN {
 background: transparent url('/BotonesSueltos/BotonDer.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
}
.gwt-ButtonDerechaOverMIN {
 background: transparent url('/BotonesSueltos/BotonDer.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	text-decoration: none;
		border: 0px solid;
}

.gwt-ButtonDerechaSelectMIN {
background: transparent url('/BotonesSueltos/BotonDer.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
	color: Scrollbar;
	text-decoration: none;
		border: 0px solid;
		  background-size:  100% 100%;
}

.gwt-ButtonDerechaPushMIN {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	text-decoration: none;
	background-color: White;
}

.gwt-ButtonIzquierdaMIN {
 background: transparent url('/BotonesSueltos/BotonIzq.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
     background-size:  100% 100%;
	color: White;
	text-decoration: none;
	border: 0px solid;
}
.gwt-ButtonIzquierdaOverMIN {
 background: transparent url('/BotonesSueltos/BotonIzq.jpg') no-repeat  center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: Scrollbar;
	text-decoration: none;
		border: 0px solid;
}

.gwt-ButtonIzquierdaSelectMIN {
background: transparent url('/BotonesSueltos/BotonIzq.jpg') no-repeat center center;
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		  background-size:  100% 100%;
	color: red;
	border: 0px solid;
	text-decoration: none;
}

.gwt-ButtonIzquierdaPushMIN {
 display: block;
    float: left;
    font: normal 12px arial, sans-serif;
		    background-size:  100% 100%;
	color: royalblue;
	border: 0px solid;
	text-decoration: none;
	background-color: White;
}
.gwt-LabelShowMore {
	color: orangered;

}
.gwt-DecoratorPanel .middleCenter {
height: 100%;
   width: 100%;
}